version: '3'
services:
  traefik:
    image: traefik
    command: --web --api --docker --logLevel=DEBUG
    restart: always
    ports:
      - 80:80
      - 443:443
      - 8080:8080 # The Web UI (enabled by --api)
    expose:
      - 8080
    labels:
      - "traefik.enable=true"
      - "traefik.frontent.rule=Host:traefik.${DOMAIN}"
      - "traefik.frontend.auth.basic=a@a.com:$$apr1$$ax33RJha$$ouYl0yrpk0WOTiItKJGJB0"
      - "traefik.port=8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
      - ./acme.json:/acme.json
  web:
    restart: unless-stopped
    build: .
    command: python manage.py runserver 0.0.0.0:8000 --nostatic
    depends_on:
      - db
      - redis
    environment:
      PYTHONUNBUFFERED: 'true'
      #      DJANGO_SETTINGS_MODULE: rebot.settings.production
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    logging:
      driver: json-file
      options:
        max-file: '5'
        max-size: '10m'
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${DOMAIN}"
      - "traefik.backend=Host:${PROJECT_NAME}.${DOMAIN}"
      - 'traefik.port=8000'
  db:
    restart: unless-stopped
    image: postgres:alpine
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
    logging:
      driver: json-file
      options:
        max-file: '5'
        max-size: '10m'
  redis:
    restart: unless-stopped
    image: redis:alpine
    volumes:
      - 'redis-data:/data'
    logging:
      driver: json-file
      options:
        max-file: '5'
        max-size: '10m'
  celery_worker:
    restart: unless-stopped
    build: .
    command: celery -A music_room worker -B --loglevel=info
    depends_on:
      - db
      - redis
    environment:
      PYTHONUNBUFFERED: 'true'
      #      DJANGO_SETTINGS_MODULE: rebot.settings.production
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    logging:
      driver: json-file
      options:
        max-file: '5'
        max-size: '10m'
volumes:
  postgres-data:
  redis-data: