Django
django-rest-framework
psycopg2

# for schema
coreapi
pyyaml

# authentication
django-rest-auth
django-allauth
djangorestframework-jwt

# for S3
django-storages
boto3

django-rest-swagger
# ne nado
# django-cors-headers
sentry-sdk

# docker ?

# docker-compose ?
# graypy?

# I install this, but I think we don't need it
# celery