asn1crypto==0.24.0
cached-property==1.5.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3.1
defusedxml==0.5.0
Django==2.1.1
django-allauth==0.38.0
django-braces==1.13.0
django-cors-headers==2.4.0
django-oauth-toolkit==1.2.0
django-rest-auth==0.9.3
django-rest-framework-social-oauth2==1.1.0
django-rest-knox==3.1.5
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==3.2.3
docker==3.5.0
docker-compose==1.22.0
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
gunicorn==19.9.0
idna==2.6
itypes==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
oauthlib==2.1.0
psycopg2==2.7.5
pycparser==2.19
PyJWT==1.6.4
pyOpenSSL==18.0.0
python3-openid==3.1.0
pytz==2018.5
PyYAML==3.13
requests==2.18.4
requests-oauthlib==1.0.0
rest-social-auth==1.4.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
texttable==0.9.1
uritemplate==3.0.0
urllib3==1.22
websocket-client==0.53.0
