@import "../../constants";

.main-menu-icon {
  font-size: 30px;
  position: absolute;
  right: -35px;
  top: 5px;
  color: black !important;
}

#app-header {
  position: fixed;
  display: flex;
  line-height: 1;
  height: 50px;
  align-items: center;
  width: 100vw;
  z-index: 10;
  background: white;
  justify-content: center;

  .app-header-logout-panel {
    position: absolute;
    right: 20px;
    font-size: 15px;

    .link-like {
      margin-left: 20px;
    }
  }

  h2 {
    margin: 0;
  }

  .ant-menu {
    position: absolute;
    width: 200px;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    transition: left 500ms ease-in-out;

    &.collapsed {
      left: -200px;
    }
  }
}
