//
//  Deezer.xcconfig
//  MusicRoom
//
//  Created by Heorhii Shakula on 4/29/19.
//  Copyright © 2019 Heorhii Shakula. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DZR_SDK=$(SRCROOT)/DeezerSDK
LIBRARY_SEARCH_PATHS=$(DZR_SDK)
USER_HEADER_SEARCH_PATHS=$(DZR_SDK)/include/**
