//
//  Release.xcconfig
//  MusicRoom
//
//  Created by Heorhii Shakula on 4/29/19.
//  Copyright © 2019 Heorhii Shakula. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MusicRoom/Pods-MusicRoom.release.xcconfig"
#include "Deezer.xcconfig"

API_BASE_URL="https://musicroom.ml"
