#add-new-playlist {
  margin-top: 15px;
}

.date-range-picker-container {
  margin-bottom: 15px;
}

.playlists-header {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .link-like {
    margin-left: 20px;
  }

  h2 {
    margin: 0;
  }
}
