
$primary-color: rgba(66, 180, 98, .85);
$primary-color-hover: rgba(66, 180, 98, .65);
$primary-color-active: rgba(66, 180, 98, 1);

$action-color: rgba(75, 75, 75, .85);
$action-color-hover: rgba(75, 75, 75, .65);
$action-color-active: rgba(75, 75, 75, 1);

$link-color: rgba(50, 150, 250, .85);
$link-color-hover: rgba(50, 150, 250, .65);
$link-color-active: rgba(50, 150, 250, 1);

$ant-table-hovered-row-color: rgb(230, 247, 255);

$header-height: 50px;
