@import "./common/constants";

.App {
  text-align: center;

  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }

  &-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &-link {
    color: #61dafb;
  }
}

.content-container {
  padding: 20px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#the-great-loader {
  width: 100vw;
  height: 100vh;
}

#deezer-account-button {
  float: right;
}

#the-great-error {
  font-size: 34px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ant-btn {
  text-transform: uppercase;
  text-align: center;
  min-width: 140px;
  height: 40px;
}

.indicators-wrapper {
  display: flex;
  justify-content: space-around;
}

.action-icon,
.indicator-icon {
  font-size: 20px;
  cursor: pointer;
  color: $action-color;

  &:hover {
    color: $action-color-hover;
  }

  &:active {
    color: $action-color-active;
  }
}

.list-item-actions-wrap {
  .action-item {
    display: inline-block;

    + .action-item {
      margin-left: 5px;
    }
  }
}

.link-like {
  color: $link-color;
  cursor: pointer;

  &:hover {
    color: $link-color-hover;
  }

  &:active {
    color: $link-color-active;
  }
}

.avoid-dz-player-modal {
  .ant-modal-content {
    margin-bottom: 100px;
  }
}

.dz-player-avoiding-view {
  padding-bottom: 100px;
}

.text-align-center {
  text-align: center;
}

.content-outer-container {
  min-height: calc(100vh - #{$header-height});
  margin: $header-height auto 0 auto;
  width: 80vw;
  max-width: 900px;
}

#dz-player-container {
  z-index: 1001;
  position: fixed;
  bottom: -208px;
  display: inline-flex;
  justify-content: center;
  margin: 0 calc((100vw - 800px) / 2);
  transition: bottom 800ms ease-in-out;

  &.expanded {
    bottom: 0;
  }
}

#dz-player-anchor {
  position: absolute;
  top: 0;
  cursor: pointer;
  border: 2px solid #c5c5c5;
  width: 35px;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  border-radius: 5px;
  background: #c5c5c5;
  color: #000000;

  &:hover {
    opacity: 0.7;
  }
}

.hidden {
  display: none;
}

.ant-modal {
  width: 80vw !important;
  max-width: 800px !important;
}

body::-webkit-scrollbar,
.custom-scroll-bar::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track,
.custom-scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb,
.custom-scroll-bar::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
