.playlist-header {
  margin: 20px 10px;
  display: inline-flex;

  h2 {
    margin: 0 20px 0 0;
    display: inline-block;
  }
}

.play-list-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.empty {
    min-height: 500px;
  }

  .ant-table-wrapper {
    width: 100%;
    height: 100%;
  }
}

.play-list-action-buttons-container {
  margin: 15px 0 15px 0;

  .ant-btn + .ant-btn {
    margin-left: 10px;
  }
}

.wrong-location-info-block {
  font-size: 20px;
  padding: 20px;
}
